<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>注册</title>
</head>
<body>
<form>
    姓名:
    <input type="text" id="name" />
    <br />
    用户名:
    <input type="text" id="username" />
    <br />
    密码:
    <input type="text" id="pwd" />
    <br />
    电话:
    <input type="text" id="phone" />
    <br />
    性别：
    <select id="sex">
        <option value="male">male</option>
        <option value="female">female</option>
    </select>
    <br />
    邮箱:
    <input type="text" id="email" />
    <br />
    <input type="submit" id="button3" value="注册" onclick="register()">
</form>
</body>
</html>